<nav class="navbar mt-2 h-100 d-flex flex-column">

  <div class="w-100 flex-grow-1 d-flex flex-column">

    <!-- Navbar toggler for small screens -->
    <button class="resp-btn btn btn-light text-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>

    <div class="nav-content flex-grow-1 d-flex flex-column">
      <div class="navbarList accordion accordion-flush" id="accordionFlushExample">
        <ul class="navbar-nav gap-2 vertical-nav flex-grow-1">

          <!-- Dashboard -->
          <li class="nav-item" *ngIf="hasAccess('Dashboard','view')">
            <a routerLink="Dashboard" routerLinkActive="active-link" class="nav-link btn-like d-flex align-items-center"
              (click)="closeAllAccordions()">
              <i class="bi bi-house ms-2 me-2"></i> <span class="nav-name"> Dashboard</span>
            </a>
          </li>

          <!-- Attendance -->
          <li class="nav-item" *ngIf="hasAccess('Attendance','view') && loginType === 'office'">
            <a routerLink="Attendance" routerLinkActive="active-link"
              class="nav-link btn-like d-flex align-items-center" (click)="closeAllAccordions()">
              <i class="bi bi-alarm ms-2 me-2"></i> <span class="nav-name">Attendance</span>
            </a>
          </li>

          <!-- Leave -->
          <li class="nav-item" *ngIf="hasAccess('Leave','view')">
            <a routerLink="Leave" routerLinkActive="active-link" class="nav-link btn-like d-flex align-items-center"
              (click)="closeAllAccordions()">
              <i class="bi bi-calendar-week ms-2 me-2"></i><span class="nav-name"> Manage Leaves </span>
            </a>
          </li>

          <!-- Advance Payment -->
          <li class="nav-item" *ngIf="hasAccess('Advance Payment','view') && loginType === 'office'">
            <a routerLink="AdvancePayment" routerLinkActive="active-link"
              class="nav-link btn-like d-flex align-items-center" (click)="closeAllAccordions()">
              <i class="bi bi-cash-stack ms-1 me-0" style="font-size:1.3rem;"></i><span class="nav-name"> Advance
                Salary</span>
            </a>
          </li>

          <!-- Payroll Accordion -->

          <!-- <li class="nav-item collapsIcons" *ngIf="hasAccess('Payroll','view')">
            <a (click)="togglePayrole($event)" class="nav-link btn-like d-flex align-items-center">
              <i class="bi bi-currency-rupee ms-1 me-0" style="font-size:1.3rem;"></i> <span
                class="nav-name">Payroll</span>
            </a>
            <ul class="sideList com-side gap-3 p-2 d-flex flex-column" *ngIf="payrollToggle"
              (click)="onBoxClick($event)">
              <li *ngIf="hasAccess('Payroll Manage','view') || hasAccess('Payroll Manage','insert')"><a
                  routerLink="payrollProcess" routerLinkActive="active-link">Payroll Manage</a></li>
              <li *ngIf="hasAccess('Payroll List','view')"><a routerLink="payrollList"
                  routerLinkActive="active-link">Payroll
                  List</a></li>
            </ul>
          </li> -->

          <li class="nav-item" *ngIf="(hasAccess('Payroll Manage','view') || hasAccess('Payroll Manage','insert')) && loginType === 'office'">
            <a routerLink="payrollProcess" routerLinkActive="active-link"
              class="nav-link btn-like d-flex align-items-center" (click)="closeAllAccordions()">
              <i class="bi bi-calculator ms-1 me-0" style="font-size:1.3rem;"></i><span class="nav-name">Manage
                Payroll</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="hasAccess('Payroll List','view')">
            <a routerLink="payrollList" routerLinkActive="active-link"
              class="nav-link btn-like d-flex align-items-center" (click)="closeAllAccordions()">
              <i class="bi bi-currency-rupee ms-1 me-0" style="font-size:1.3rem;"></i><span class="nav-name">Approve
                Payroll</span>
            </a>
          </li>

          <!-- <li>
            <div class="accordion accordion-flush accordion-sec" *ngIf="hasAccess('Payroll','view')">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed px-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <i class="bi bi-currency-rupee" style="font-size:1.3rem;"></i> <span class="nav-name">Payroll</span>
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul class="gap-3 py-2 d-flex flex-column">
                      <li *ngIf="hasAccess('Payroll Manage','view') || hasAccess('Payroll Manage','insert')"><a
                          routerLink="payrollProcess" routerLinkActive="active-link">Payroll Manage</a></li>
                      <li *ngIf="hasAccess('Payroll List','view')"><a routerLink="payrollList"
                          routerLinkActive="active-link">Payroll List</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li> -->

          <!-- Calendar  *ngIf="hasAccess('calender','view')"-->
          <li class="nav-item" *ngIf="false">
            <a routerLink="Calender" routerLinkActive="active-link" class="nav-link btn-like d-flex align-items-center"
              (click)="closeAllAccordions()">
              <i class="bi bi-calendar-event ms-2 me-2"></i> <span class="nav-name"> Calendar</span>
            </a>
          </li>

          <!-- Employee -->
          <li class="nav-item"
            *ngIf="hasAccess('Employee','view') || hasAccess('Employee','insert') || hasAccess('Employee','update') || hasAccess('Employee','import')">
            <a routerLink="Employee" routerLinkActive="active-link" class="nav-link btn-like d-flex align-items-center"
              (click)="closeAllAccordions()">
              <i class="bi bi-people-fill ms-2 me-2"></i> <span class="nav-name">Employee</span>
            </a>
          </li>

          <!-- Company Settings Accordion -->

          <li class="nav-item" *ngIf="hasAccess('Company List','view')">
            <a routerLink="companyList" routerLinkActive="active-link"
              class="nav-link btn-like d-flex align-items-center" (click)="closeAllAccordions()">
              <i class="bi bi-gear ms-1 me-2"></i> <span class="nav-name">Company List</span>
            </a>
          </li>

          <!-- <li class="nav-item collapsIcons" *ngIf="hasAccess('Company Settings','view')">
            <a (click)="toggleCompany($event)" class="nav-link btn-like d-flex align-items-center">
              <i class="bi bi-gear ms-1 me-2"></i> <span class="nav-name">Company Settings</span>
            </a>

            <ul class="sideList2 com-side gap-3 p-2 d-flex flex-column" *ngIf="companyToggle"
              (click)="onBoxClick($event)">
              <li *ngIf="hasAccess('Company List','view')"><a routerLink="companyList"
                  routerLinkActive="active-link">Company
                  List</a></li>
              <li *ngIf="hasAccess('Manage and Policies','view')"><a routerLink="comMange&Plolicies"
                  routerLinkActive="active-link">Manage & Policies</a></li>
            </ul>
          </li> -->

          <!-- <div class="accordion accordion-flush accordion-sec" *ngIf="hasAccess('Company Settings','view')">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed px-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <i class="bi bi-gear ms-1 me-2"></i> <span class="nav-name">Company Settings</span>
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <ul class="gap-3 py-2 d-flex flex-column">
                    <li *ngIf="hasAccess('Company List','view')"><a routerLink="companyList"
                        routerLinkActive="active-link">Company List</a></li>
                    <li *ngIf="hasAccess('Manage and Policies','view')"><a routerLink="comMange&Plolicies"
                        routerLinkActive="active-link">Manage & Policies</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->

          <!-- salary increment -->
          <li class="nav-item" *ngIf="hasAccess('Salary_increment','view')">
            <a routerLink="salary_increment" routerLinkActive="active-link"
              class="nav-link btn-like d-flex align-items-center" (click)="closeAllAccordions()">
              <i class="bi bi-cash-coin ms-2 me-2"></i> <span class="nav-name">Salary Increment</span>
            </a>
          </li>

          <!-- Configuration -->
          <li class="nav-item" *ngIf="hasAccess('Configuration','view')">
            <a routerLink="configuration" routerLinkActive="active-link"
              class="nav-link btn-like d-flex align-items-center" (click)="closeAllAccordions()">
              <i class="bi bi-sliders ms-2 me-2"></i> <span class="nav-name"> Configuration</span>
            </a>
          </li>

          <!-- operator -->
          <li class="nav-item" *ngIf="hasAccess('Employee Dashboard','view') && loginType === 'employee'">
            <a routerLink="EmployeeInDetail" routerLinkActive="active-link"
              class="nav-link btn-like d-flex align-items-center" (click)="closeAllAccordions()">
              <i class="bi bi-people-fill ms-2 me-2"></i> <span class="nav-name">Employee Dashboard</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="hasAccess('Employee Dashboard','view') && loginType === 'employee'">
            <a routerLink="employee-report" routerLinkActive="active-link"
              class="nav-link btn-like d-flex align-items-center" (click)="closeAllAccordions()">
              <i class="bi bi-currency-rupee ms-1 me-2" style="font-size:1.3rem;"></i><span
                class="nav-name">Report</span>
            </a>
          </li>

        </ul>
      </div>

      <hr>

      <!-- Logout Button -->
      <div class="d-flex flex-column align-items-start gap-1 flex-nowrap userLogin mb-2">
        <button class="btn fw-medium text-white" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> <span class="nav-name ms-1">Logout</span>
        </button>
      </div>

    </div>
  </div>

</nav>