.createEmployee {
    width: 170px;
}

.importExcel {
    width: 150px;
}

input {
    height: 38px;
}

.select-company {
    width: 25%;
}

.status-active {
    background-color: yellow !important;
    color: black !important;
    padding: 3px 6px !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    display: inline-block !important;
}

.status-inactive {
    background-color: #007bff !important;
    color: white !important;
    padding: 3px 6px !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    display: inline-block !important;
}

.exportExcelBtn {
    background-color: #3674B5;
}

@media(max-width:430px) {
    .select-company {
        width: 30%;
    }
}