<div class="right-panel">
    <div class="loader-overlay" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="main-content" [class.loading]="isLoading">

        <div class="row gx-3 align-items-center rounded-2">
            <div class="col-12">
                <div class="row justify-content-end align-items-end">

                    <div class="col-3">
                        <label class="mb-1 fw-semibold">Select Company</label>
                        <select class="form-select" [value]="selectedCompanyId" (change)="onCompanyChange($event)">
                            <option *ngFor="let item of CompanyNames" [value]="item.company_id">
                                {{ item.company_name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-auto">
                        <button type="button" class="btn text-white mb-1 px-4 BtnColor" (click)="openModalLWP()">
                            LWP
                        </button>
                    </div>

                    <div class="col-auto">
                        <button type="button" class="btn text-white mb-1 px-4 BtnColor" (click)="openModal()">
                            Add New
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 60vh;" [rowData]="rowData"
                    [columnDefs]="columnDefs" [pagination]="true" [defaultColDef]="defaultColDef"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
        </div>

        <!-- Modal Content -->
        <div class="modal fade modal-lg text-left" id="addLeaveModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Leave Configuration</h5>
                        <button type="button text-white" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-left">
                        <form [formGroup]="LeaveRule" (ngSubmit)="addLeaveRule()">
                            <div class="row">

                                <!-- Company -->
                                <div class="col-md-4 text-start select-company">
                                    <label class="fw-bold" disabled selected>Select Company<span
                                            class="text-danger">*</span></label>
                                    <select class="form-select" formControlName="companyid" [ngClass]="{
                                'input-error': isSubmitted && LeaveRule.get('companyid')?.invalid,
                                'is-invalid': isSubmitted && LeaveRule.get('companyid')?.invalid
                            }">
                                        <option [value]="null" disabled>Select Company</option>
                                        <option *ngFor="let item of CompanyNames" [value]="item.company_id">
                                            {{ item.company_name }}
                                        </option>
                                    </select>
                                    <small class="text-danger"
                                        *ngIf="isSubmitted && LeaveRule.get('companyid')?.invalid">
                                        Please select a valid company.
                                    </small>
                                </div>

                                <!-- leave type -->
                                <div class="col-md-4">
                                    <label for="leavetype">
                                        Leave Type <span class="text-danger">*</span>
                                    </label>

                                    <select id="leavetype" class="form-select" formControlName="leavetype" [ngClass]="{
      'input-error': isSubmitted && LeaveRule.get('leavetype')?.invalid,
      'is-invalid': isSubmitted && LeaveRule.get('leavetype')?.invalid
    }">

                                        <option value="" disabled>Select Leave Type</option>

                                        <option *ngFor="let leave of leaveTypes" [value]="leave.leave_type_id">
                                            {{ leave.leave_types }}
                                        </option>

                                    </select>

                                    <small class="text-danger"
                                        *ngIf="isSubmitted && LeaveRule.get('leavetype')?.invalid">
                                        Please select a leave type.
                                    </small>
                                </div>

                                <div class="col-md-4">
                                    <label for="year">Financial Year</label>
                                    <input type="text" id="financial_year" class="form-control"
                                        [value]="financialYearCode" disabled />
                                </div>

                                <div class="row mt-3">
                                    <!-- No. Of Leaves -->
                                    <div class="col-md-4">
                                        <label for="leavenumber">No. of leaves<span class="text-danger">*</span></label>
                                        <input type="number" class="form-control" id="leavenumber"
                                            formControlName="leavenumber" placeholder="Please Enter Leave number"
                                            [ngClass]="{
                            'input-error': isSubmitted && LeaveRule.get('leavenumber')?.invalid,
                            'is-invalid': isSubmitted && LeaveRule.get('leavenumber')?.invalid
                            }">
                                        <small class="text-danger"
                                            *ngIf="LeaveRule.get('leavenumber')?.errors?.['min']">
                                            Number of leaves never less than 0.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="LeaveRule.get('leavenumber')?.errors?.['max']">
                                            Number of leaves cannot exceed 365.
                                        </small>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="carryForward">Carry Forward</label>

                                        <select id="carryForward" class="form-select" formControlName="carry_forward">

                                            <option value="" disabled>Select</option>
                                            <option value="TRUE">TRUE</option>
                                            <option value="FALSE">FALSE</option>
                                        </select>
                                    </div>

                                    <div class="col-md-4" *ngIf="LeaveRule.get('carry_forward')?.value !== 'FALSE'">
                                        <label>Max Carry Forward <span class="text-danger">*</span></label>
                                        <input type="number" formControlName="max_carry_forward" class="form-control"
                                            [ngClass]="{
      'is-invalid': isSubmitted && LeaveRule.get('max_carry_forward')?.invalid
    }" />
                                        <small class="text-danger"
                                            *ngIf="isSubmitted && LeaveRule.get('max_carry_forward')?.errors?.['required']">
                                            Max Carry Forward is required.
                                        </small>
                                    </div>
                                </div>

                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit"
                                    class="btn BtnColor mt-3 ml-auto btn-end submit-btn">Submit</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Content for edit -->
        <!-- Modal -->
        <div class="modal fade modal-lg" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Leave Configuration</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="EditLeaveRule" (ngSubmit)="editLeaveData()">
                            <div class="row">
                                <!-- Leave Type -->
                                <div class="col-3">
                                    <label for="leavetype">Leave Type<span class="text-danger">*</span></label>
                                    <select id="leavetype" class="form-select" formControlName="leavetype"
                                        [ngClass]="{'input-error': isEditSubmitted && EditLeaveRule.get('leavetype')?.invalid}">
                                        <option value="" disabled>Select Leave Type</option>
                                        <option *ngFor="let leave of leaveTypes" [value]="leave.leave_type_id">
                                            {{ leave.leave_types }}
                                        </option>
                                    </select>
                                </div>

                                <!-- Year (disabled) -->
                                <div class="col-3">
                                    <label for="year">Year</label>
                                    <input type="text" id="year" class="form-control" formControlName="year">
                                </div>

                                <!-- No. of Leaves -->
                                <div class="col-3">
                                    <label for="leavenumber">No. of leaves<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" id="leavenumber"
                                        formControlName="leavenumber"
                                        [ngClass]="{'input-error': isEditSubmitted && EditLeaveRule.get('leavenumber')?.invalid}">
                                </div>

                                <!-- Carry Forward -->
                                <div class="col-3">
                                    <label for="carryForward">Carry Forward</label>
                                    <select id="carryForward" class="form-select" formControlName="carry_forward"
                                        [ngClass]="{'input-error': isEditSubmitted && EditLeaveRule.get('carry_forward')?.invalid}">
                                        <option value="TRUE">TRUE</option>
                                        <option value="FALSE">FALSE</option>
                                    </select>
                                </div>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                                <button type="submit" class="btn BtnColor btn-end">Update</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <!-- LWP modal -->
        <div class="modal fade modal-lg text-left" id="LWPModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Leave Without Pay</h5>
                        <button type="button text-white" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-left">
                        <form [formGroup]="lwpForm" (ngSubmit)="addleaveWithoutPay()">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label class="form-label fw-bold">Should extra leaves be treated as Leave Without
                                        Pay?</label><br />
                                    <small class="text-danger">
                                        (Salary will be deducted annually for leaves taken beyond the allowed limit.)
                                    </small><br />

                                    <div class="form-check form-check-inline ms-3 mt-2">
                                        <input class="form-check-input" type="radio" formControlName="leave_without_pay"
                                            [value]="true" id="lwpYes" />
                                        <label class="form-check-label" for="lwpYes">
                                            Yes
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline ms-3 mt-2">
                                        <input class="form-check-input" type="radio" formControlName="leave_without_pay"
                                            [value]="false" id="lwpNo" />
                                        <label class="form-check-label" for="lwpNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit"
                                    class="btn BtnColor mt-3 ml-auto btn-end submit-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>