<div class="main-content">
  <div class="row gx-3  align-items-center p-2 rounded-2 mt-3">
    <div class="col-12 d-flex">
      <h2 class="fw-bold"> <i class="bi bi-currency-rupee me-2"></i> Advance Salary</h2>
    </div>


  </div>
  <div class="tabs-container m-2">
    <ul class="nav nav-tabs">
      <li class="nav-item" (click)="selectTab('tab1')">
        <a class="nav-link fw-bold" [ngClass]="{'active': activeTab === 'tab1'}">Advance Salary Request</a>
      </li>
      <li class="nav-item" (click)="selectTab('tab2')">
        <a class="nav-link fw-bold" [ngClass]="{'active': activeTab === 'tab2'}">Approved Salary Request</a>
      </li>
      <li class="nav-item" (click)="selectTab('tab3')">
        <a class="nav-link fw-bold" [ngClass]="{'active': activeTab === 'tab3'}">Advance Salary Report</a>
      </li>
    </ul>
    <div class="tab-content mt-3">
      <div *ngIf="activeTab === 'tab1'">
        <div class="row gap-2 mb-4 align-items-center justify-content-end">
          <div class="col col-lg-5 d-flex align-items-end justify-content-end search-box text-start">


            <div class="w-50 text-start select-company ">
              <label class="fw-bold">Select Company </label>
              <br>
              <select class="form-select" (change)="onCompanyChange($event)">
                <option *ngFor="let item of CompanyNames" [value]="item.company_id">{{ item.company_name }}</option>
              </select>
            </div>
          </div>

          <div class="col col-lg-4 d-flex justify-content-around attendanceButtons text-start">
            <!-- Month and Year Dropdowns -->
            <div>
              <label>Select Year</label><br />

              <div class="d-flex align-items-center">

                <div class="me-2">
                  <select class="form-control selectdata2" [(ngModel)]="selectedYear" (change)="onYearMonthChange()">
                    <option *ngFor="let year of financialYears">{{ year }}</option>
                  </select>
                </div>
                <div>
                  <span><i class="bi bi-circle-fill" style="font-size: 8px;color: #578FCA;"></i></span>
                </div>
              </div>


            </div>

            <!-- select month -->
            <div>
              <label>Select Month</label><br />

              <div class="d-flex align-items-center">
                <div>
                  <span><i class="bi bi-circle-fill" style="font-size: 8px;color: #578FCA;"></i></span>
                </div>
                <div class="ms-2">
                    <select class="form-control selectdata3" [(ngModel)]="selectedMonth" (change)="onYearMonthChange()">
            <option *ngFor="let month of months" [value]="month.id">{{ month.value }}</option>
          </select>
                </div>

              </div>


            </div>

          </div>

        </div>

        <div class="row gap-4 row-wrap my-3 ">
          <div class="container  ">

            <div class="row g-3">
              <div class="col-12">

                <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 60vh;" [rowData]="rowData"
                  [columnDefs]="columnDefs" [gridOptions]="gridOptions" [pagination]="true" [defaultColDef]="defaultColDef">
                </ag-grid-angular>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div *ngIf="activeTab === 'tab2'">
  <div class="container ">
    <app-approved-advance-payment></app-approved-advance-payment>
  </div>
</div>

<div *ngIf="activeTab === 'tab3'">
  <div class="container ">
    <app-advance-salary-report></app-advance-salary-report>
  </div>
</div>


<div class="modal fade" id="advanceRequestModal" tabindex="-1" aria-labelledby="advanceRequestModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content ">
      <!-- Header -->
      <div class="modal-header text-white">
        <h5 class="modal-title" id="advanceSalaryModalLabel">Advance Salary Request Info</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="EditAdvancePayment">
        <div class="modal-body p-4">
          <div class="row mb-3">
            <div class="col-md-2">
              <strong>ID</strong>
              <input class="form-control" formControlName="id" value="#0001" />
            </div>
            <div class="col-md-3">
              <strong>Employee Name</strong>
              <input class="form-control" formControlName="employeeName" />
            </div>
            <div class="col-md-3">
              <strong>Company</strong>
              <input class="form-control" formControlName="company" />
            </div>
            <div class="col-md-2">
              <strong>Department</strong>
              <input class="form-control" formControlName="department" />
            </div>
            <div class="col-md-2">
              <strong>Role</strong>
              <input class="form-control" formControlName="role" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-2">
              <strong>Request Date</strong>
              <input class="form-control" formControlName="requestData" />
            </div>
            <div class="col-md-2">
              <strong>Status</strong>
              <input
              type="text"
              id="status"
              class="form-control "
              formControlName="status"
              [ngClass]="{
                  'custom-bg-warning': EditAdvancePaymentData?.status === 'pending',
                  'custom-bg-success': EditAdvancePaymentData?.status === 'Approved',
                  'custom-bg-danger': EditAdvancePaymentData?.status === 'Rejected'
              }"
              [value]="EditAdvancePaymentData?.status"
            />
              <!-- <div class="px-3 py-2 rounded text-center fw-bold" style="background-color: #fef3c7; color: #7c6000;">
                Pending
              </div> -->
            </div>
            <div class="col-md-2">
              <strong>Tenure</strong>
              <input class="form-control" formControlName="tenure" />
            </div>
            <div class="col-md-2"><strong>Amount (in ₹)</strong><input class="form-control" value="10,000"
                formControlName="amount" /></div>
            <div class="col-md-4">
              <strong>Reason <small class="text-muted">(In Case of Rejection)</small></strong>
              <textarea class="form-control" formControlName="reason" rows="3" readonly></textarea>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-3"><strong>EMI Start Date</strong><input class="form-control"
                formControlName="EMIStartDate" readonly /></div>
            <div class="col-md-3"><strong>Installment Amount (in ₹)</strong><input class="form-control bg-light"
                formControlName="installmentAmount" readonly /></div>
          </div>
        </div>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn approveBtn" (click)="updateStatus('Approved')"
          [disabled]="EditAdvancePaymentData?.status === 'Approved' || EditAdvancePaymentData?.status === 'Rejected'">Approve
          Leave</button>
        <button type="button" class="btn declineBtn" (click)="updateStatus('Rejected')"
          [disabled]="EditAdvancePaymentData?.status === 'Approved' || EditAdvancePaymentData?.status === 'Rejected'">Decline
          Leave</button>
        <button type="button" class="btn btn-outline-dark fw-semobild " data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>