<div class="right-panel">
    <div class="row">
        <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 70vh;" [rowData]="rowData"
            [columnDefs]="columnDefs" [pagination]="true" [defaultColDef]="defaultColDef">
        </ag-grid-angular>
    </div>
</div>

<div class="modal fade modal-lg" id="editIncentiveModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editIncentiveModalLabel">Edit Incentive Configuration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="EditIncentiveForm" (ngSubmit)="editIncentiveRate()">
                    <div class="row">  
                        <div class="col-6">
                            <label for="leavename">Total no. of hours worked</label>
                            <input type="text" class="form-control" id="leavename"  formControlName="total_no_hours_worked"/>
                        </div>

                        <div class="col-4">
                            <label for="leavenumber">Incentive Per Day<span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="incentive_rate"
                            [ngClass]="{'is-invalid': isEditSubmitted && EditIncentiveForm.get('incentive_rate')?.invalid}" />
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn BtnColor mt-3 ml-auto btn-end">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>