<!-- <p>edit-leave-request works!</p> -->
    <button class="btn btn-sm mb-1"  (click)="editID(params)" style="background-color:#C8E3FF" >
        <i class="bi bi-eye"></i>
    </button>
    <button class="btn btn-sm mb-1 ms-3"  (click)="ApproveID(params)" style="background-color:#bcfcd9" >
        <i class="bi bi-check-circle"></i>
    </button>
    <button class="btn btn-sm mb-1 ms-3"  (click)="RejectID(params)" style="background-color:#ff9999" >
        <i class="bi bi-x-circle"></i>
    </button>