<div class="row gap-2 mb-0 align-items-center justify-content-end">
  <div class="col col-lg-5 d-flex align-items-end search-box text-start">
    <input class=" mx-2 form-control me-2" type="text" #searchBox placeholder="Search here"
      [(ngModel)]="searchValue" value="" (ngModelChange)="onFilterBoxChange()" />
    <!-- <div class="">
    </div> -->
    <div>
      <label>Select Year</label><br />
      <select class="form-control selectdata" style="width: 150px;"  [(ngModel)]="selectedYear" (change)="onMonthYearChange()">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>

    <!-- <div class="text-start">
        <label for="">Select Year</label><br />
        <select class="form-control" [(ngModel)]="selectedYear" (change)="onYearMonthChange()">
          <option *ngFor="let year of financialYears" [value]="year">{{ year }}</option>
        </select>
      </div> -->
  </div>
<span class="devider p-0"></span>
  <div class="col col-lg-4 d-flex gap-2 attendanceButtons text-start align-items-end">

    <!-- select month dropdown -->
    <div >
      <label>Select Month</label><br />
      <div class="d-flex align-items-center w-100">
        <select class="form-control selectdata3" style="width: 150px;"
          [(ngModel)]="selectedMonth" (change)="onMonthYearChange()">
          <option *ngFor="let month of months" [ngValue]="month.value">{{ month.name }}</option>
        </select>
      </div>
    </div>

    <div>
      <button class="btn btn-primary exportExcelBtn w-100" (click)="exportToExcel()">
        <i class="bi bi-file-earmark-excel me-1"></i> Export To Excel
      </button>
    </div>
  </div>

</div>

<div class="row gap-4 row-wrap">
  <div class="container  ">

    <h5 class="fw-bold text-center">
     {{ selectedMonthYear }}
    </h5>

    <div class="row g-3">
      <div class="col-12">

        <ag-grid-angular class="ag-theme-alpine" id="specualGrid"
          [defaultColDef]="{ resizable: true, sortable: true, width: 100 }" [rowData]="rowData"
          [gridOptions]="gridOptions" [pagination]="true"
          [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [suppressMovableColumns]="true" [rowHeight]="50"
          rowSelection="multiple" style="width: 100%; height: 60vh;">
        </ag-grid-angular>

        <!-- Month View Grid -->
        <!-- <ag-grid-angular *ngIf="viewMode === 'Month'" class="ag-theme-alpine" [rowData]="monthlyRowData"
          [columnDefs]="monthlyColumnDefs" rowSelection="multiple" style="width: 100%; height: 400px;">
        </ag-grid-angular> -->
      </div>
    </div>

    <div class="list mt-2">
      <ul>
        <li><span class="dot"></span> P - Present</li>
        <li><span class="dot"></span> A - Absent</li>
        <li><span class="dot"></span> W - Weekend</li>
        <li><span class="dot"></span> W/od - Weekend</li>
        <li><span class="dot"></span> H - Holiday</li>
        <li><span class="dot"></span> WFH/2 - Work From Home Half Day</li>
        <li><span class="dot"></span> HD -  Half Day</li>
        <li><span class="dot"></span> LT -  Late</li>
      </ul>
      
    </div>
  </div>

</div>