<div class="row gx-3  align-items-center rounded-2">
    <div class="col-12">
        <div class="row justify-content-end">
            <div class="col-3">
                <label for="">Select Company</label>
                <select class="form-select" (change)="onCompanyChange($event)">
                    <option *ngFor="let item of CompanyNames" [value]="item.company_id">{{
                        item.company_name }}</option>
                </select>
            </div>

            <div class="col-2 dotted-line">
                <label for="">Select Year</label>
                <select class="form-select" [(ngModel)]="selectedYear" (change)="onYearMonthChange()">
                    <option *ngFor="let year of years">{{ year }}</option>
                </select>
            </div>

            <div class="col-2">
                <label for="">Select Month</label>
               <select class="form-select" [(ngModel)]="selectedMonth" (change)="onYearMonthChange()">
                    <option *ngFor="let month of months" [value]="month.id">{{ month.value }}</option>
                </select>
            </div>

            <div class="col-auto d-flex align-items-end">
                <button class="btn btn-primary exportExcelBtn me-2">
                    <i class="bi bi-file-earmark-excel"></i>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-4">
        <ag-grid-angular style="width: 100%; height: 60vh;" class="ag-theme-alpine" [rowData]="rowData"
            [columnDefs]="columnDefs" [gridOptions]="gridOptions" [pagination]="true" [defaultColDef]="defaultColDef">
        </ag-grid-angular>
    </div>
</div>
