.exportExcelBtn {
    background-color: #3674B5;
}

.dotted-line {
    border-right : 1px dashed gray;padding-right:12px;
}

label{
    font-size:18px;
    font-weight: 500;
    margin-bottom:5px;
}



