<div class="right-panel">
    <div class="loader-overlay" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="main-content" [class.loading]="isLoading">
        <div class="container-fluid mt-4">
            <div class="row gx-3  ">
                <div class="col-md-6  ">
                    <h2 class="fw-bold">
                        <span><i class="bi bi-alarm me-2"></i></span>
                        Attendance
                    </h2>
                </div>
                <div class="col-md-6  text-end">
                    <h5 class="mb-0">{{getTodayDayName()}}</h5>
                    <h3>{{getFormattedTodayDate()}}</h3>
                </div>
            </div>

            <div class="row">

                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" (click)="selectTab('live')" *ngIf="hasAccess('Live_attendance', 'view')">
                            <a class="nav-link fw-bold" [ngClass]="{'active': activeTab === 'live'}">
                                Live Attendance
                            </a>
                        </li>
                        <li class="nav-item" (click)="selectTab('tab1')">
                            <a class="nav-link fw-bold" [ngClass]="{'active': activeTab === 'tab1'}">Imported
                                Attendance</a>
                        </li>
                        <li class="nav-item" (click)="selectTab('tab2')">
                            <a class="nav-link fw-bold" [ngClass]="{'active': activeTab === 'tab2'}">Monthly Summary</a>
                        </li>
                        <li class="nav-item" (click)="selectTab('tab3')">
                            <a class="nav-link fw-bold" [ngClass]="{'active': activeTab === 'tab3'}">Consolidated
                                Summary</a>
                        </li>
                    </ul>

                    <div class="tab-content mt-3">

                        <div *ngIf="activeTab === 'live' && hasAccess('Live_attendance', 'view')">
                            <app-live-attendance></app-live-attendance>
                        </div>

                        <div *ngIf="activeTab === 'tab1'">
                            <div class="company-setup">
                                <div class="container-fluid ">
                                    <div class="d-flex flex-wrap justify-content-end align-items-center gap-3 mt-4">
                                        <!-- Search Box -->
                                        <div>
                                            <input class="form-control" type="text" #searchBox placeholder="Search"
                                                [(ngModel)]="searchInputValue" (ngModelChange)="onSearchChange()"
                                                style="min-width: 180px;" />

                                        </div>

                                        <!-- Filter Buttons -->
                                        <div class="d-flex flex-wrap gap-2">
                                            <button class="btn btn-light border-secondary rounded-3"
                                                (click)="applyFilter('P')">Present</button>
                                            <button class="btn btn-light border-secondary rounded-3"
                                                (click)="applyFilter('A')">Absent</button>
                                            <button class="btn btn-light border-secondary rounded-3"
                                                (click)="clearFilter()">Clear Filter</button>
                                        </div>

                                        <!-- Accountant-only Buttons -->
                                        <ng-container *ngIf="hasAccess('Attendance', 'import')">
                                            <button class="btn btn-primary text-white rounded-3 ExcelBtn"
                                                (click)="downloadTemplate()"><i
                                                    class="bi bi-download"></i>&nbsp;Template</button>

                                            <div>
                                                <input type="file" #fileInput style="display: none"
                                                    (change)="onFileChange($event)" accept=".xlsx, .xls" />
                                                <button class="btn btn-primary text-white rounded-3 ExcelBtn"
                                                    (click)="fileInput.click()">Import Excel</button>
                                            </div>

                                            <button class="btn text-white rounded-3 ExcelBtn"
                                                (click)="exportAttendance()">Export</button>
                                        </ng-container>

                                    </div>
                                    <div class="row gap-4 row-wrap my-3 ">
                                        <div class="container  ">

                                            <div class="row g-3">
                                                <div class="col-12">
                                                    <ag-grid-angular *ngIf="rowData.length > 0" #agGrid
                                                        class="ag-theme-alpine" style="width: 100%; height: 50vh"
                                                        [rowData]="rowData" [columnDefs]="columnDefs"
                                                        [defaultColDef]="defaultColDef" [gridOptions]="gridOptions"
                                                        [pagination]="false" [rowSelection]="'multiple'"
                                                        (gridReady)="onGridReady($event)">
                                                    </ag-grid-angular>

                                                    <div
                                                        class="d-flex align-items-center justify-content-end flex-wrap mt-3 gap-2">
                                                        <button class="btn btn-sm btn-primary rounded"
                                                            (click)="prevPage()"
                                                            [disabled]="currentPage === 1">Prev</button>
                                                        <button class="btn btn-sm btn-primary rounded"
                                                            (click)="nextPage()"
                                                            [disabled]="currentPage === lastPage">Next</button>

                                                        <ng-container *ngFor="let page of pagesToShow">
                                                            <span *ngIf="page !== '...'; else ellipsis"
                                                                (click)="goToPage(page)"
                                                                [class.current]="page === currentPage"
                                                                class="page-text">
                                                                <ng-container *ngIf="page === currentPage">[{{ page
                                                                    }}]</ng-container>
                                                                <ng-container *ngIf="page !== currentPage">{{ page
                                                                    }}</ng-container>
                                                            </span>
                                                            <ng-template #ellipsis><span
                                                                    class="mx-1">...</span></ng-template>
                                                        </ng-container>
                                                    </div>

                                                </div>
                                            </div>

                                            <!-- <div class="list mt-2">
                                                <ul>
                                                    <li><span class="dot"></span> P - Present</li>
                                                    <li><span class="dot"></span> A - Absent</li>
                                                    <li><span class="dot"></span> W - Weekend</li>
                                                    <li><span class="dot"></span> W/od - Weekend</li>
                                                    <li><span class="dot"></span> H - Holiday</li>
                                                    <li><span class="dot"></span> WFH/2 - Work From Home Half Day</li>
                                                    <li><span class="dot"></span> HD - Half Day</li>
                                                    <li><span class="dot"></span> LT - Late</li>
                                                </ul>

                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="activeTab === 'tab2'">

                            <div class="container mt-4">

                                <!-- attendance summary -->
                                <app-attendance-summary></app-attendance-summary>
                            </div>
                        </div>
                        <div *ngIf="activeTab === 'tab3'">

                            <div class="container mt-4">

                                <!-- attendance summary -->
                                <app-consolidate-attendance-summary></app-consolidate-attendance-summary>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>