<!-- header starts -->

<main class="position-relative main-content">

    <div class="row m-0 res-column" style="flex-grow: 1;">

        <div class="col col-lg-3 col-sm-2 fixed-top custom-bg-side pe-3 ps-3 sideNav   text-end  "

            [ngClass]="{ 'open': isSideNavOpen, 'closed': !isSideNavOpen }">
            <div class="d-flex gx-3 align-items-center gap-3 mt-3 mb-4 border-bottom  pb-3 border-2">
                <img src="assets/img/logo_img.png" class="logo bg-white rounded-2 p-1" alt="">
                <span class="company_heading ">Shweta Enginners</span>
            </div>

            <div class="d-flex justify-content-between  align-items-center">
                <p>
                    <span class="fs-6 fw-medium">User: </span>
                    <span class="fs-6">{{empName}}</span> 
                &nbsp;&nbsp;
                    <span class="fs-6 fw-medium">Role: </span>
                    <span class="fs-6 ">{{roleName}}</span>
                </p>
            </div> 
            <hr>
            <!-- <button class="btn btn-white   mt-2 navigation-btn " (click)="toggleSideNav()">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg>
            </button> -->
            <app-sidebar></app-sidebar>
        </div>

        <div class="col col-lg bg-component">

            <router-outlet></router-outlet>
        </div>
    </div>
</main>


<!-- header ends -->
