<div class="container-fluid">
    <div class="row m-0 p-0">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn createEmployee" style="background-color: #3674b5; color: white;">
                Add Bounus And Incentive</button>
        </div>
        <div class="col-12 mt-3">
            <ag-grid-angular class="ag-theme-alpine" style="height: 60vh;" [rowData]="rowData" [columnDefs]="columnDefs"
                [domLayout]="'autoHeight'">
            </ag-grid-angular>
        </div>
    </div>
</div>