<div class="right-panel">
    <div class="loader-overlay" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>

    <div class="main-content" [class.loading]="isLoading">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <div class="col-12 d-flex justify-content-end">
                    <div class="row">
                        <div class="col p-0">
                            <div class="d-flex justify-content-end align-items-center gap-2">
                                <div *ngIf="role === 'accountant'" class="me-2">
                                    <button class="btn rounded-3 BtnColor" (click)="downloadTemplate()">Download
                                        Template</button>
                                </div>

                                <div *ngIf="role === 'accountant'" class="me-2">
                                    <input type="file" #fileInput style="display: none" (change)="onFileChange($event)"
                                        accept=".xlsx, .xls" />
                                    <button class="btn btn-primary rounded-3 BtnColor" (click)="fileInput.click()">
                                        Import Excel
                                    </button>
                                </div>

                                <div *ngIf="role === 'accountant'" class="me-2">
                                    <button type="button" class="btn add_company BtnColor" data-bs-toggle="modal"
                                        data-bs-target="#bonusIncentiveModal">
                                        Add Bonus And Incentive
                                    </button>
                                </div>

                                <div class="d-flex">
                                    <button class="btn BtnColor btn-primary me-5" (click)="exportExcel()">
                                        <i class="bi bi-file-earmark-text-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add Bonus/Incentive Modal -->
                    <div class="modal fade modal-lg text-left" id="bonusIncentiveModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Bonus and Incentive</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-left">
                                    <form [formGroup]="bonusAndIncentive" (ngSubmit)="addBonusAndIncentive()">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label>Employee Code<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" formControlName="employee_code"
                                                    placeholder="Enter Employee Code"
                                                    [ngClass]="{'is-invalid': isSubmitted && bonusAndIncentive.get('employee_code')?.invalid}">
                                            </div>

                                            <div class="col-lg-6">
                                                <label>Date<span class="text-danger">*</span></label>
                                                <input id="bonusDate" formControlName="bonus_incentive_date"
                                                    class="form-control"
                                                    [ngClass]="{'is-invalid': isSubmitted && bonusAndIncentive.get('bonus_incentive_date')?.invalid}">
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label>Bonus<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" formControlName="bonus_amount"
                                                    placeholder="Enter Bonus"
                                                    [ngClass]="{'is-invalid': isSubmitted && bonusAndIncentive.get('bonus_amount')?.invalid}">
                                                <div class="invalid-feedback"
                                                    *ngIf="isSubmitted && bonusAndIncentive.get('bonus_amount')?.errors?.['pattern']">
                                                    Only Numbers are Allowed
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label>Incentive<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control"
                                                    formControlName="incentive_amount" placeholder="Enter Incentive"
                                                    [ngClass]="{'is-invalid': isSubmitted && bonusAndIncentive.get('incentive_amount')?.invalid}">
                                                <small class="text-danger"
                                                    *ngIf="isSubmitted && bonusAndIncentive.get('incentive_amount')?.invalid && bonusAndIncentive.get('incentive_amount')?.value">
                                                    Only Numbers are Allowed
                                                </small>
                                            </div>

                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <button type="submit"
                                                    class="btn btn-primary mt-3 ml-auto btn-end submit-btn BtnColor">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Request Modal -->
                    <div class="modal fade modal-lg text-left" id="requestBonusIncentiveModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Request Bonus and Incentive</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-left">
                                    <form [formGroup]="updateStatusBonusAndIncentive">
                                        <div class="row">
                                            <div class="col-md-5 mb-3">
                                                <label>Employee ID<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" formControlName="employee_id">
                                            </div>
                                            <div class="col-md-7 mb-3">
                                                <label>Employee Name<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" formControlName="employee_name">
                                            </div>
                                            <div class="col-lg-4">
                                                <label>Date<span class="text-danger">*</span></label>
                                                <input type="date" formControlName="bonus_incentive_date"
                                                    class="form-control">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label>Bonus<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" formControlName="bonus_amount">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label>Incentive<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control"
                                                    formControlName="incentive_amount">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn approveBtn"
                                                    (click)="updateStatus('Approved')"
                                                    [disabled]="editBonusAndIncentiveData?.status === 'Approved' || editBonusAndIncentiveData?.status === 'Rejected'">Approve</button>
                                                <button type="button" class="btn declineBtn"
                                                    (click)="updateStatus('Rejected')"
                                                    [disabled]="editBonusAndIncentiveData?.status === 'Approved' || editBonusAndIncentiveData?.status === 'Rejected'">Decline</button>
                                                <button type="button" class="btn btn-outline-dark fw-semobild"
                                                    data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Edit Modal -->
                    <div class="modal fade modal-lg text-left" id="editBonusIncentiveModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Bonus and Incentive</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-left">
                                    <form [formGroup]="editBonusAndIncentive" (ngSubmit)="updateBonusIncentive()">
                                        <div class="row">
                                            <div class="col-md-5 mb-3">
                                                <label>Employee ID<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" formControlName="employee_id">
                                            </div>
                                            <div class="col-md-7 mb-3">
                                                <label>Employee Name<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" formControlName="employee_name">
                                            </div>
                                            <div class="col-lg-4">
                                                <label>Date<span class="text-danger">*</span></label>
                                                <input id="bonusDate" formControlName="bonus_incentive_date"
                                                    class="form-control"
                                                    [ngClass]="{'is-invalid': isEditSubmitted && editBonusAndIncentive.get('bonus_incentive_date')?.invalid}">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label>Bonus<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" formControlName="bonus_amount"
                                                    [ngClass]="{'is-invalid': isEditSubmitted && editBonusAndIncentive.get('bonus_amount')?.invalid}">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label>Incentive<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control"
                                                    formControlName="incentive_amount"
                                                    [ngClass]="{'is-invalid': isEditSubmitted && editBonusAndIncentive.get('incentive_amount')?.invalid}">
                                            </div>
                                            <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                                                <button type="submit"
                                                    class="btn btn-primary mt-3 ml-auto btn-end submit-btn BtnColor"
                                                    [disabled]="editBonusAndIncentiveData?.status === 'Approved' || editBonusAndIncentiveData?.status === 'Rejected'">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 60vh;" [rowData]="rowData"
                        [gridOptions]="gridOptions" [pagination]="true" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>