 <div class="d-flex w-100">
      <button (click)="editID(params)" class="btn btn-sm mb-1 me-3" title="Edit" data-bs-toggle="modal"
        data-bs-target="#editBonusIncentiveModal" style="background-color:#C8E3FF">
        AC<i class="bi bi-pencil"></i>
      </button>
  
      <button  (click)="StatusEditId(params)" class="btn btn-sm mb-1 me-3" title="Edit" data-bs-toggle="modal"
        data-bs-target="#requestBonusIncentiveModal" style="background-color:#C8E3FF">
        AD<i class="bi bi-power"></i>
      </button>
      </div>
