<div class="row gap-2 mb-4  justify-content-end ">
  <div class="col col-lg-5 d-flex align-items-end search-box text-start">
    <div class="">
      <!-- <input class="py-1 mx-2 form-control me-2" type="text" #searchBox placeholder="Search here"
          [(ngModel)]="searchValue" value="" (ngModelChange)="onFilterBoxChange()" /> -->
    </div>
    <div>
      <label>Select Year</label><br />
      <!-- <select class="form-control selectdata" [(ngModel)]="selectedYear" (change)="onYearMonthChange()">
          <option *ngFor="let year of financialYears">{{ year }}</option>
        </select> -->
    </div>

    <!-- <div class="text-start">
          <label for="">Select Year</label><br />
          <select class="form-control" [(ngModel)]="selectedYear" (change)="onYearMonthChange()">
            <option *ngFor="let year of financialYears" [value]="year">{{ year }}</option>
          </select>
        </div> -->
  </div>

  <div class="col col-lg-4 d-flex justify-content-around attendanceButtons text-start align-items-end">
    <!-- select month -->
    <div>
      <label>Select Month</label><br />


      <div class="ms-2">
        <!-- <select class="form-control selectdata3" [(ngModel)]="selectedMonth" (change)="onYearMonthChange()">
              <option *ngFor="let month of months">{{ month }}</option>
            </select> -->


      </div>


    </div>

    <div>
      <button class="btn  exportExcelBtn text-white" (click)="exportToExcel()">
        Export To Excel
      </button>
    </div>
  </div>


</div>

<div class="row gap-4 row-wrap my-3 ">
  <div class="container  ">

    <div class="row g-3">
      <div class="col-12">

        <!-- Day View Grid -->
        <!-- <ag-grid-angular *ngIf="viewMode === 'Day'" class="ag-theme-alpine" [rowData]="rowData"
            [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" rowSelection="multiple"
            style="width: 100%; height: 400px;">
          </ag-grid-angular> -->
        <!--  -->

        <!-- Month View Grid -->
        <ag-grid-angular style="width: 100%; height: 600px;" class="ag-theme-alpine" id="specualGrid2"
          [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="rowData" [domLayout]="'autoHeight'"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>

</div>